@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

@theme {
  /* Fonts */
  --font-inter: "Inter", sans-serif;

  /* Animation */
  --animate-fade-in-up: fade-in-up 0.25s ease-out;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
