@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

@theme {
  /* Fonts */
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;

  /* Animation */
  --animate-fade-in-up: fade-in-up 0.25s ease-out;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Colors - Flexoki Color Scheme */
  /* https://github.com/kepano/flexoki/blob/main/tailwind/replacement.css */
  /* Disable TailwindCSS default colors */
  --color-amber-*: initial;
  --color-lime-*: initial;
  --color-emerald-*: initial;
  --color-teal-*: initial;
  --color-sky-*: initial;
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-fuchsia-*: initial;
  --color-pink-*: initial;
  --color-rose-*: initial;
  --color-slate-*: initial;
  --color-zinc-*: initial;
  --color-base-*: initial;
  --color-stone-*: initial;

  /* Specify new default colors. */
  /* Dark */
  --color-bg: #100f0f;
  --color-bg-2: #1c1b1a;
  --color-ui: #282726;
  --color-ui-2: #343331;
  --color-ui-3: #403e3c;
  --color-tx: #cecdc3;
  --color-tx-2: #878580;
  --color-tx-3: #575653;

  /* Light */
  /* --color-bg: rgb(255, 252, 240); */
  /* --color-bg-2: rgb(242, 240, 229); */
  /* --color-ui: rgb(230, 228, 217); */
  /* --color-ui-2: rgb(218, 216, 206); */
  /* --color-ui-3: rgb(206, 205, 195); */
  /* --color-tx: rgb(16, 15, 15); */
  /* --color-tx-2: rgb(111, 110, 105); */
  /* --color-tx-3: rgb(183, 181, 172); */

  /* TODO: remove this */
  --color-base-100: rgb(40, 39, 38);
  --color-base-800: rgb(40, 39, 38);
  --color-base-200: rgb(40, 39, 38);
  --color-base-50: rgb(40, 39, 38);
}

@layer base {
  html {
    @apply scroll-pt-24 scroll-smooth;
  }

  body {
    @apply font-geist bg-bg selection:bg-ui-3;
  }

  article {
    @apply prose text-tx prose-headings:text-tx marker:text-tx-3 prose-headings:font-geist-mono w-full max-w-none [&>*:first-child]:mt-0!;
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-2xl font-medium;
  }

  h3 {
    @apply text-xl font-medium;
  }

  h4,
  h5,
  h6 {
    @apply mb-2 text-lg font-medium;
  }

  a,
  strong,
  blockquote {
    @apply text-tx;
  }

  /* Inline Code */
  code:not(pre > *) {
    @apply font-geist-mono text-tx bg-ui rounded-sm px-1 py-0.5 select-all;
  }

  code::before,
  code::after {
    @apply hidden;
  }
}

@layer components {
}

@layer utilities {
  /* Outer Container */
  .container-full {
    @apply mx-auto w-full max-w-[96rem] px-4 md:px-8;
  }

  .container-grid {
    @apply grid grid-cols-1 px-4 xl:grid-cols-[1fr_600px_1fr] xl:gap-x-16;
  }

  /* Inner Container */
  .container-main {
    @apply mx-auto w-full max-w-[600px];
  }

  .container-side {
    @apply hidden xl:block xl:w-full xl:max-w-full;
  }

  /* Bleed Container */
  .bleed {
    @apply z-10 max-w-none md:-mx-8 lg:-mx-16 2xl:-mx-24;
  }
}

/* TODO: dev-only, remove this later */
.dev-child {
  @apply [&>*]:bg-red-200/50;
}

.dev-parent {
  @apply bg-base-200/50;
}
