@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

@theme {
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-geist: "Geist Mono", monospace;

  /* Animation */
  --animate-fade-in-up: fade-in-up 0.25s ease-out;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  body {
    @apply font-inter bg-neutral-50 text-neutral-800 selection:bg-red-200 selection:text-red-950;
  }

  article {
    @apply prose prose-a:text-red-800 w-full max-w-none marker:text-red-800 [&>*:first-child]:mt-0!;
  }

  /* Inline Code */
  code:not(pre > *) {
    @apply font-geist rounded-sm bg-neutral-200 px-1.5 py-1 select-all;
  }

  code::before,
  code::after {
    @apply hidden;
  }
}

@layer components {
}

@layer utilities {
  /* Outer Container */
  .container-full {
    @apply mx-auto w-full max-w-[96rem] px-4 md:px-8;
  }

  .container-grid {
    @apply grid grid-cols-1 px-4 xl:grid-cols-[1fr_600px_1fr] xl:gap-x-16;
  }

  /* Inner Container */
  .container-main {
    @apply mx-auto w-full max-w-[600px];
  }

  .container-side {
    @apply hidden xl:block xl:w-full xl:max-w-full;
  }

  /* Bleed Container */
  .bleed {
    @apply z-10 max-w-none md:-mx-8 lg:-mx-16 2xl:-mx-24;
  }
}

/* TODO: dev-only, remove this later */
.dev-child {
  @apply [&>*]:bg-red-200/50;
}

.dev-parent {
  @apply bg-amber-200/50;
}
