---
// Layout import
import BaseLayout from "../layouts/BaseLayout.astro";

// Component import
import LinkWithIcon from "../components/page/LinkWithIcon.astro";
import CTA from "../components/page/CTA.astro";
import { Image } from "astro:assets";
import pic from "../assets/images/beach-watunene.jpg";

const { title = "404", description = "This page is missing." } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <section class="container-grid">
        <section class="container-side"></section>

        <section class="container-main">
            <article class="pb-16">
                <h1>Whoops<span class="text-red">.</span></h1>
                <p class="text-tx-2">
                    Everything in its right place, except this page!
                </p>

                <div class="flex flex-col items-center justify-center">
                    <Image
                        src={pic}
                        alt="Watunene Beach, Yogyakarta"
                        quality="mid"
                        format="webp"
                        loading="eager"
                        class="mt-0 mb-4 h-64 rounded-lg object-cover object-bottom shadow-md"
                    />
                    <CTA href="/" text="Go Home" icon="material-symbols:home" />
                </div>
            </article>
        </section>

        <section class="container-side"></section>
    </section>
</BaseLayout>
