---
// layout import
import BaseLayout from "../layouts/BaseLayout.astro";

// component import
import Menu from "../components/page/Menu.astro";

const { title = "404", description = "This page is missing." } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <section class="container-grid">
        <section class="container-side"></section>

        <section class="container-main">
            <article>
                <h1>Whoops<span class="text-red">.</span></h1>
                <p class="text-tx-2">
                    Everything in its right place, except this page!
                </p>

                <div class="mt-8 grid grid-cols-1 gap-2 sm:grid-cols-2">
                    <Menu
                        href="/"
                        icon="material-symbols:home-rounded"
                        title="Home"
                        description="Go back and be safe..."
                    />
                </div>
            </article>
        </section>

        <section class="container-side"></section>
    </section>
</BaseLayout>
