---
// layout import
import BaseLayout from "../layouts/BaseLayout.astro";

const {
    title = "Odhy Pradhana",
    description = "Welcome to my personal website. Here, I host my writings and information about my various projects.",
} = Astro.props;
---

<BaseLayout title={title} description={description}>
    <section>
        <span>This is index page</span>
        <br />
        <a href="/articles">Go to articles</a>
    </section>
</BaseLayout>
