---
// layout import
import BaseLayout from "../layouts/BaseLayout.astro";

// content import
import Content, { frontmatter } from "../content/now.mdx";

// utils import
import { formatDate } from "../utils/formatDate";

const { title, description, updatedDate } = frontmatter;
---

<BaseLayout title={title} description={description}>
    <section class="container-grid">
        <section class="container-side"></section>

        <section class="container-main">
            <article>
                <h1>
                    {title}<span class="text-red-800">.</span>
                </h1>
                <p class="mb-8 text-sm text-neutral-600">
                    <span data-time={updatedDate} class="font-medium"
                        >Updated:</span
                    >
                    <span>{formatDate(updatedDate, "relative")}</span>
                </p>

                <Content />
            </article>
        </section>

        <section class="container-side"></section>
    </section>
</BaseLayout>
