---
// component import
import Breadcrumbs from "../ui/Breadcrumbs.astro";

const { title } = Astro.props;
const { pathname } = Astro.url;

if (pathname === "/") {
    return null;
}
---

<header
    id="header"
    class="container-grid sticky top-0 z-50 h-16 bg-neutral-50 font-medium transition-shadow duration-200 ease-in-out"
>
    <section class="container-side"></section>

    <section class="container-main py-4">
        <Breadcrumbs title={title} />
    </section>

    <section class="container-side"></section>
</header>

<script is:inline>
    document.addEventListener("astro:page-load", () => {
        const header = document.getElementById("header");

        window.addEventListener("scroll", () => {
            if (window.scrollY > 80) {
                header.classList.add("shadow-sm");
            } else {
                header.classList.remove("shadow-sm");
            }
        });
    });
</script>
