/* prettier-ignore */
main {
  --color-prettylights-syntax-comment: rgb(87, 86, 83); /* tx-3 */
  --color-prettylights-syntax-constant: rgb(67, 133, 190); /* blue */
  --color-prettylights-syntax-entity: rgb(139, 126, 200); /* purple */
  --color-prettylights-syntax-storage-modifier-import: rgb(87, 86, 83); /* tx-3 */
  --color-prettylights-syntax-entity-tag: rgb(135, 154, 57); /* green */
  --color-prettylights-syntax-keyword: rgb(209, 77, 65); /* red */
  --color-prettylights-syntax-string: rgb(58, 169, 159); /* cyan */
  --color-prettylights-syntax-variable: rgb(218, 112, 44); /* orange */
  --color-prettylights-syntax-brackethighlighter-unmatched: rgb(209, 77, 65); /* red */
  --color-prettylights-syntax-invalid-illegal-text: rgb(206, 205, 195); /* tx */
  --color-prettylights-syntax-invalid-illegal-bg: rgb(175, 48, 41); /* red-2 */
  --color-prettylights-syntax-carriage-return-text: rgb(206, 205, 195); /* tx */
  --color-prettylights-syntax-carriage-return-bg: rgb(175, 48, 41); /* red-2 */
  --color-prettylights-syntax-string-regexp: rgb(135, 154, 57); /* green */
  --color-prettylights-syntax-markup-list: rgb(208, 162, 21); /* yellow */
  --color-prettylights-syntax-markup-heading: rgb(67, 133, 190); /* blue */
  --color-prettylights-syntax-markup-italic: rgb(87, 86, 83); /* tx-3 */
  --color-prettylights-syntax-markup-bold: rgb(87, 86, 83); /* tx-3 */
  --color-prettylights-syntax-markup-deleted-text: rgb(206, 205, 195); /* tx */
  --color-prettylights-syntax-markup-deleted-bg: rgb(175, 48, 41); /* red-2 */
  --color-prettylights-syntax-markup-inserted-text: rgb(135, 154, 57); /* green */
  --color-prettylights-syntax-markup-inserted-bg: rgb(36, 131, 123); /* cyan-2 */
  --color-prettylights-syntax-markup-changed-text: rgb(208, 162, 21); /* yellow */
  --color-prettylights-syntax-markup-changed-bg: rgb(188, 82, 21); /* orange-2 */
  --color-prettylights-syntax-markup-ignored-text: rgb(87, 86, 83); /* tx-3 */
  --color-prettylights-syntax-markup-ignored-bg: rgb(67, 133, 190); /* blue */
  --color-prettylights-syntax-meta-diff-range: rgb(139, 126, 200); /* purple */
  --color-prettylights-syntax-brackethighlighter-angle: rgb(87, 86, 83); /* tx-3 */
  --color-prettylights-syntax-sublimelinter-gutter-mark: rgb(52, 51, 49); /* ui-2 */
  --color-prettylights-syntax-constant-other-reference-link: rgb(67, 133, 190); /* blue */
  --color-btn-text: rgb(135, 133, 128); /* tx-2 */
  --color-btn-bg: rgb(16, 15, 15); /* bg */
  --color-btn-border: rgb(40, 39, 38); /* ui */
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: rgb(40, 39, 38); /* ui */
  --color-btn-hover-border: rgb(87, 86, 83); /* tx-3 */
  --color-btn-active-bg: rgb(52, 51, 49); /* ui-2 */
  --color-btn-active-border: rgb(64, 62, 60); /* ui-3 */
  --color-btn-selected-bg: rgb(16, 15, 15); /* bg */
  --color-btn-primary-text: rgb(206, 205, 195); /* tx */
  --color-btn-primary-bg: rgb(135, 154, 57); /* green */
  --color-btn-primary-border: rgb(40, 39, 38); /* ui */
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: rgb(135, 154, 57); /* green */
  --color-btn-primary-hover-border: rgb(40, 39, 38); /* ui */
  --color-btn-primary-selected-bg: rgb(135, 154, 57); /* green */
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: rgb(206, 205, 195); /* tx */
  --color-btn-primary-disabled-bg: rgb(184 187 38 / 60%); /* green */
  --color-btn-primary-disabled-border: rgb(40, 39, 38); /* ui */
  --color-action-list-item-default-hover-bg: rgb(87, 86, 83); /* tx-3 */
  --color-segmented-control-bg: rgb(87, 86, 83); /* tx-3 */
  --color-segmented-control-button-bg: rgb(28, 27, 26); /* bg-2 */
  --color-segmented-control-button-selected-border: rgb(64, 62, 60); /* ui-3 */
  --color-fg-default: rgb(135, 133, 128); /* tx-2 */
  --color-fg-muted: rgb(64, 62, 60); /* ui-3 */
  --color-fg-subtle: rgb(52, 51, 49); /* ui-2 */
  --color-canvas-default: rgb(16, 15, 15); /* bg */
  --color-canvas-overlay: rgb(40, 39, 38); /* ui */
  --color-canvas-inset: rgb(28, 27, 26); /* bg-2 */
  --color-canvas-subtle: rgb(40, 39, 38); /* ui */
  --color-border-default: rgb(40, 39, 38); /* ui */
  --color-border-muted: rgb(16, 15, 15); /* bg */
  --color-neutral-muted: rgb(87, 86, 83); /* tx-3 */
  --color-accent-fg: #91b2a5; /* blue */
  --color-accent-emphasis: rgb(67, 133, 190); /* blue */
  --color-accent-muted: rgb(131 165 152 / 40%); /* blue */
  --color-accent-subtle: rgb(131 165 152 / 10%); /* blue */
  --color-success-fg: rgb(135, 154, 57); /* green */
  --color-attention-fg: rgb(208, 162, 21); /* yellow */
  --color-attention-muted: rgb(250 189 47 / 40%); /* yellow */
  --color-attention-subtle: rgb(250 189 47 / 15%); /* yellow */
  --color-danger-fg: rgb(209, 77, 65); /* red */
  --color-danger-muted: rgb(251 73 52 / 40%); /* red */
  --color-danger-subtle: rgb(251 73 52 / 10%); /* red */
  --color-primer-shadow-inset: 0 0 transparent;
  --color-scale-gray-7: rgb(16, 15, 15); /* bg */
  --color-scale-blue-8: rgb(32, 94, 166); /* blue-2 */

  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-dark.gif");
}
