---
// layout import
import BaseLayout from "../../layouts/BaseLayout.astro";

// component import
import CardProject from "../../components/ui/CardProject.astro";

import { getCollection } from "astro:content";

let projects = await getCollection("projects", ({ data }) => {
    if (import.meta.env.DEV) {
        return true;
    }
    return data.draft !== true;
});

projects = projects.sort(
    (a, b) => b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf()
);

const { title = "Projects", description = "" } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <section class="container-grid">
        <section class="container-side"></section>

        <section class="container-main">
            <article>
                <h1>
                    {title}<span class="text-red-800">.</span>
                </h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Reprehenderit earum voluptas cumque voluptatum delectus hic
                    distinctio blanditiis minus labore at pariatur asperiores,
                    corporis temporibus tempora error tenetur eveniet dolorem
                    odio!
                </p>
            </article>

            <div class="@container flex flex-col gap-y-4">
                {
                    projects.map((article) => (
                        <CardProject post={article} collection="projects" />
                    ))
                }
            </div>
        </section>

        <section class="container-side"></section>
    </section>
</BaseLayout>
