---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
    href: string;
    icon: string;
    text: string;
}

const { href, icon, text, ...rest } = Astro.props;
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="not-prose group flex w-full items-center justify-center gap-x-4 rounded-md border border-neutral-300 px-8 py-2.5 transition-all duration-200 ease-in-out hover:shadow-lg"
    {...rest}
>
    <Icon name={icon} size={20} class="shrink-0" />
    <span class="font-medium">{text}</span>
</a>
