---
import { Icon } from "astro-icon/components";

interface Props {
    href: string;
    icon: string;
    title: string;
    description?: string;
}

const { href, icon, title, description, ...rest } = Astro.props;
---

<a href={href} class="not-prose group block py-2" {...rest}>
    <div class="flex items-center gap-x-2">
        <Icon
            name={icon}
            size="20"
            class="text-neutral-500 transition-colors duration-200 ease-in-out group-hover:text-neutral-600"
        />
        <span
            class="font-semibold transition-all duration-200 ease-in-out group-hover:text-red-800 group-hover:underline group-hover:underline-offset-2"
        >
            {title}
        </span>
    </div>
    {description && <p class="ml-7 text-neutral-600">{description}</p>}
</a>
