---
// component imports
import Head from "../components/base/Head.astro";
import Header from "../components/base/Header.astro";
import Footer from "../components/base/Footer.astro";

const { title, description, image } = Astro.props;
const pathname = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
    <head>
        <Head title={title} description={description} image={image} />
    </head>

    <!-- TODO: add google tag -->

    <body class="flex min-h-dvh flex-col sm:min-h-screen">
        {pathname !== "/" && <Header />}

        <main class="animate-fade-in-up my-16 grow">
            <slot />
        </main>

        <Footer />
    </body>
</html>
