---
// component import
import Head from "../components/base/Head.astro";
import Header from "../components/base/Header.astro";
import Footer from "../components/base/Footer.astro";
import GoogleAnalytics from "../components/scripts/GoogleAnalytics.astro";

// font import - Inter
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";

import "@fontsource/inter/400-italic.css";
import "@fontsource/inter/500-italic.css";
import "@fontsource/inter/600-italic.css";
import "@fontsource/inter/700-italic.css";

// font import - Geist Mono
import "@fontsource/geist-mono";

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <Head title={title} description={description} image={image} />
    </head>

    <body class="flex min-h-dvh flex-col sm:min-h-screen">
        <GoogleAnalytics />

        <Header title={title} />

        <main class="animate-fade-in-up my-16 grow">
            <slot />
        </main>

        <Footer />
    </body>
</html>
