---
// layout imports
import BaseLayout from "./BaseLayout.astro";

// component imports
import Giscus from "../components/page/Giscus.astro";

// utils
import { formatDate } from "../utils/formatDate";

const { frontmatter, headings } = Astro.props;

const { title, description, pubDate, updatedDate, cover, tags, toc } =
    frontmatter;
---

<BaseLayout title={title} description={description} image={cover}>
    <section>
        <article class="prose mx-auto">
            <slot />
            <Giscus />
        </article>
    </section>
</BaseLayout>
