---
// layout import
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
---

<BaseLayout title={title} description={description}>
    <section class="container-grid">
        <section class="container-side"></section>

        <section class="container-main">
            <article>
                <h1>
                    {title}<span class="text-red-800">.</span>
                </h1>
                <span class="font-medium text-neutral-500 italic">
                    {description}
                </span>
                <slot />
            </article>
        </section>

        <section class="container-side"></section>
    </section>
</BaseLayout>
