---
// utils import
import { formatDate } from "../../utils/formatDate";

type BasePost = {
    id: string;
    data: {
        title: string;
        pubDate: string | Date;
    };
};

type Props = {
    post: BasePost;
    collection: string;
};

const { post, collection } = Astro.props;
const { title, pubDate } = post.data;
---

<a href={`/${collection}/${post.id}`} class="group flex gap-x-4 gap-y-1 py-1">
    <span
        class="shrink-0 text-neutral-500 transition-colors duration-200 ease-in-out group-hover:text-neutral-700"
        >{formatDate(pubDate, "iso")}</span
    >
    <span
        class="font-medium transition-colors duration-200 ease-in-out group-hover:text-red-800 group-hover:underline group-hover:underline-offset-2"
        >{title}</span
    >
</a>
